.*
!.gitignore

# Python cache/build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
src/*.egg-info/

# training outputs/checkpoints
outputs/

# ignore output of evaluation
output/

# ignore third-party repositories downloaded into workspace
otherscode/

# ignore References
References/
